@import "fonts.css";

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Fira Sans';
  color: #172B4D;
}

div.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  text-align: center;
  padding: 2rem;
}

img.profile-pic {
  border: 0.125rem solid #172B4D;
  border-radius: 9999px;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h1 strong {
  font-weight: 500;
  color: #0052CC;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 2rem;
}

a {
  color: #0052CC;
}
